---
import MainLayout from '../layouts/MainLayout.astro';
import Companies from '../components/Companies.astro';
---

<MainLayout title="Empresas - DeFi México" description="Los alumni de DeFi México han fundado muchas de las startups crypto más impactantes de México">
	<main>
		<Companies />
	</main>
</MainLayout>

<style>
	main {
		position: relative;
		z-index: 1;
	}
</style> 