---
import MainLayout from '../layouts/MainLayout.astro';
import Companies from '../components/Companies.astro';
import CompaniesFooter from '../components/CompaniesFooter.astro';
---

<MainLayout title="Startups DeFi México" description="Descubre las startups más innovadoras del ecosistema DeFi en México">
  <main>
    <Companies />
    <CompaniesFooter />
  </main>
</MainLayout>

<style>
	main {
		position: relative;
		z-index: 1;
	}
</style> 