---
import MainLayout from '../layouts/MainLayout.astro';
import StartupIdeas from '../components/StartupIdeas.astro';
---

<MainLayout title="Ideas de Startup - DeFi México" description="Conceptos innovadores que transformarán el ecosistema cripto mexicano">
  <main>
    <StartupIdeas />
  </main>
</MainLayout>

<style>
  main {
    position: relative;
    z-index: 1;
  }
</style> 