---
import MainLayout from '../layouts/MainLayout.astro';
import Jobs from '../components/Jobs.astro';
---

<MainLayout title="Trabajos en DeFi México" description="Encuentra las mejores oportunidades laborales en el ecosistema cripto mexicano">
  <main>
    <Jobs />
  </main>
</MainLayout>

<style>
  main {
    position: relative;
    z-index: 1;
  }
</style> 